:root {
  --page-color: #FFFFFF;
  --cont-alfa-color: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --logo-icon-color: #AFB1B8;
  --grand-color: #212121;
  --indent-color: #757575;
  --style-color: #2196F3;
  --button-hower-color: #188CE8;
  --section-color: #F5F4FA;
  --main-font: 'Roboto', sans-serif;
  --another-font: 'Raleway', sans-serif;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  color: var(--grand-color);
  background-color: var(--page-color);
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

.conteiner {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1), visibility 3500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.common-btn {
  min-width: 200px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px;
  color: var(--page-color);
  background-color: var(--style-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.common-btn:hover, .common-btn:focus {
  background-color: var(--button-hower-color);
}

.common-btn__icon {
  margin-left: 10px;
}

.modal-form__common-btn {
  display: block;
  margin: 0 auto;
}

.logo {
  color: var(--style-color);
  font-family: var(--another-font);
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  animation-duration: 1500ms;
}

.logo__text-hat {
  color: var(--grand-color);
}

.logo__text-footer {
  color: var(--page-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
  .logo__text-hat {
    color: var(--logo-color);
  }
}

.modal-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--grand-color);
}

.modal-form__label {
  display: block;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--indent-color);
}

.modal-form__label:nth-of-type(-n+3) {
  margin-bottom: 10px;
}

.modal-form__input-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form__field {
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--grand-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__field:focus + .modal-form__icon {
  fill: var(--style-color);
}

.modal-form__field:focus, .modal-form__area:focus {
  outline: none;
  border-color: var(--style-color);
}

.modal-form__area {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__area::placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__agree-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--indent-color);
}

.modal-form__agree-label::before {
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--grand-color);
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__checkbox:checked + .modal-form__agree-label::before {
  background-color: var(--style-color);
  background-image: url(../images/icon_check.svg);
  background-repeat: no-repeat;
  border: none;
}

.modal-form__checkbox:focus + .modal-form__agree-label::before {
  box-shadow: 0 0 0 2px var(--style-color);
}

.modal-form__checkbox-link {
  color: var(--style-color);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--page-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(1.1);
}

.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover, .close-button:focus {
  fill: var(--style-color);
}

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.soc-list {
  display: flex;
  justify-content: center;
}

.soc-list__item:not(:last-child) {
  margin-right: 10px;
}

.soc-list__link {
  display: flex;
  padding: 12px;
  fill: var(--logo-icon-color);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-list__link:hover, .soc-list__link:focus {
  fill: var(--page-color);
  background-color: var(--style-color);
}

.soc-list__link--color {
  fill: var(--page-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.subscription-form {
  margin-left: auto;
}

.subscription-form__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--page-color);
  margin-bottom: 20px;
}

.subscription-form__field {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  color: var(--page-color);
  background-color: transparent;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-form__field:focus {
  outline: none;
  border-color: var(--style-color);
}

.subscription-form__field::placeholder {
  font-family: inherit;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.subscription-form__common-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.hat {
  border-bottom: 1px solid #ECECEC;
}

.menu, .contact-list {
  display: none;
}

@media screen and (max-width: 767px) {
  .hat__conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-btn__icon {
  width: 40px;
  height: 40px;
}

.burger-btn:hover, .burger-btn:focus {
  fill: var(--style-color);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--page-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(1.1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: scale(1);
}

.mobile-menu__conteiner {
  position: relative;
  padding-top: 48px;
  padding-left: 40px;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  padding: 0;
  line-height: 0;
  cursor: pointer;
  background-color: transparent;
  width: 40px;
  height: 40px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
  fill: var(--style-color);
}

.mobile-menu__close-icon {
  width: 18px;
  height: 18px;
}

.mobile-menu-nav {
  margin-bottom: 302px;
}

.mobile-menu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: inherit;
}

.mobile-menu-nav__link:hover, .mobile-menu-nav__link:focus {
  color: var(--style-color);
}

.mobile-menu-cont {
  margin-bottom: 64px;
}

.mobile-menu-cont__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-cont__link-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: var(--style-color);
}

.mobile-menu-cont__link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: var(--indent-color);
}

.mobile-menu-soc-list {
  display: flex;
}

.mobile-menu-soc-list__item:not(:last-child) {
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu-soc-list__link {
  padding-right: 10px;
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: var(--style-color);
}

@media screen and (min-width: 768px) {
  .menu,
  .contact-list {
    display: block;
  }
  .burger-btn {
    display: none;
  }
  .hat__conteiner,
  .hat-nav {
    display: flex;
    align-items: center;
  }
  .menu {
    display: flex;
    margin-left: 88px;
  }
  .menu__item {
    position: relative;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .menu__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: inherit;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--style-color);
  }
  .menu__link--select {
    color: var(--style-color);
  }
  .menu__link--select::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    background-color: var(--style-color);
    width: 100%;
    height: 4px;
    border-radius: 2px;
  }
  .contact-list {
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .contact-list__link {
    display: flex;
    align-items: center;
    color: var(--indent-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.02em;
  }
  .contact-list__link:hover, .contact-list__link:focus {
    color: var(--style-color);
  }
  .contact-list__icon-mail {
    margin-right: 8px;
    width: 14px;
    height: 10px;
    fill: currentColor;
  }
  .contact-list__icon-tel {
    margin-right: 8px;
    width: 10px;
    height: 14px;
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .menu {
    margin-left: 93px;
  }
  .contact-list {
    display: flex;
  }
  .contact-list__item:not(:last-child) {
    margin-right: 30px;
  }
  .contact-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--indent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .contact-list__link:hover, .contact-list__link:focus {
    color: var(--style-color);
  }
  .contact-list__icon-mail {
    margin-right: 10px;
    width: 16px;
    height: 12px;
  }
  .contact-list__icon-tel {
    margin-right: 10px;
    width: 10px;
    height: 16px;
  }
}

.hero {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: #C4C4C4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/Hero_img/Heho_img-mobile.jpg");
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/Hero_img/Hero_img-mobile@2x.jpg");
  }
}

.hero__title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: var(--page-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/Hero_img/Hero_img-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/Hero_img/Hero_img-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/Hero_img/Hero_img-desktop.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/Hero_img/Hero_img-desktop@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.feature-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.feature-list__icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--section-color);
  border-radius: 4px;
}

.feature-list__title {
  margin-bottom: 10px;
  font-size: inherit;
  text-align: center;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-list__paragraph {
  color: var(--indent-color);
  line-height: 1.71;
}

@media screen and (min-width: 768px) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .feature-list__item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
  .feature-list__title {
    text-align: unset;
  }
}

@media screen and (min-width: 1200px) {
  .feature-list__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.examples {
  display: none;
}

@media screen and (min-width: 1200px) {
  .examples {
    display: block;
    padding-bottom: 94px;
  }
  .examples-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .examples-list__item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc(100% / 3 - 30px);
  }
  .examples-list__thumb {
    position: relative;
  }
  .examples-list__name {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 27px 0;
    color: var(--page-color);
    background-color: rgba(47, 48, 58, 0.8);
    font-size: inherit;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
  }
}

.team {
  background-color: var(--section-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.team-list__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  background-color: var(--page-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list__card-name {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list__text {
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-list__text--title-style {
  margin-bottom: 10px;
  font-weight: 500;
}

.team-list__text--par-style {
  margin-bottom: 16px;
  color: var(--indent-color);
}

.logo-list {
  display: flex;
  justify-content: center;
}

.logo-list__item:not(:last-child) {
  margin-right: 30px;
}

.logo-list__link {
  display: flex;
  padding: 15px 31px;
  fill: var(--logo-icon-color);
  border: 1px solid var(--logo-icon-color);
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-list__link:hover, .logo-list__link:focus {
  fill: var(--style-color);
  border-color: var(--style-color);
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  border: none;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  color: inherit;
  background-color: var(--section-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover, .filter-button:focus {
  color: var(--page-color);
  background-color: var(--style-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.port-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.port-list__item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.port-list__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-list__link:hover, .port-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.port-list__wrapper {
  position: relative;
  overflow: hidden;
}

.port-list__overlay {
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-list__link:hover .port-list__overlay,
.port-list__link:focus .port-list__overlay {
  transform: translateY(0);
}

.port-list__overlay-text {
  color: var(--page-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.port-list__title {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: 0;
}

.port-list__head {
  margin-bottom: 4px;
  color: var(--grand-color);
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em;
}

.port-list__disc {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--indent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.footer__conteiner {
  display: flex;
  align-items: baseline;
}

.footer__cont-group {
  margin-right: 70px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.add {
  font-style: normal;
}

.add__text {
  margin-bottom: 9px;
  color: var(--page-color);
  line-height: 1.71;
}

.add__item:not(:last-child) {
  margin-bottom: 9px;
}

.add__link {
  color: var(--cont-alfa-color);
  line-height: 1.71;
}

.add__link:hover, .add__link:focus {
  color: var(--style-color);
}

.soc-icons__text {
  margin-bottom: 20px;
  color: var(--page-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
/*# sourceMappingURL=main.css.map */