
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}

@media screen and (max-width:1199px){
    .footer__conteiner {
        text-align: center;
    }
}


.footer__cont-group,
.soc-icons {
    margin-bottom: 60px;
}

.footer__logo {
    display: inline-block;
    margin-bottom: 20px;
}


.add {
    font-style: normal;
}

.add__text {
    margin-bottom: 8px;
    color: var(--page-color);
    line-height: 1.71;
}

.add__item:not(:last-child) {
    margin-bottom: 8px;
}


.add__link {
    color: var(--cont-alfa-color);
    line-height: 1.71;

    &:hover,
    &:focus {
        color: var(--style-color)
    }
}


// Для 768+
@media screen and (min-width:768px) {
    .footer__conteiner{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
    }

    .footer__cont-group {
        margin-right: 165px;
    }
    
}


// Для 1200+
@media screen and (min-width:1200px){
        .footer__cont-group {
            margin-right: 70px;
            margin-bottom: 0px;
        }

        .add__text {
            margin-bottom: 9px;
        }

        .add__item:not(:last-child) {
            margin-bottom: 9px;
        }

        .soc-icons {
            margin-bottom: 0px;
        }
       
}

