
.port-list__item:not(:last-child){
    margin-bottom: 30px;
}

.port-list__link {
    display: block;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}


.port-list__wrapper {
    position: relative;
    overflow: hidden;
}

.port-list__overlay {
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateY(100%);
    background-color: rgba(33, 150, 243, 0.9);
    overflow: auto;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .port-list__link:hover &,
    .port-list__link:focus & {
        transform: translateY(0);
    }

}

.port-list__overlay-text {
    color: var(--page-color);
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
}


.port-list__title {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: 0;
}

.port-list__head {
    margin-bottom: 4px;

    color: var(--grand-color);
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;

}

.port-list__disc {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--indent-color);
}


// Для 768+
@media screen and (min-width:768px) {
    .port-list {
        display: flex;
        flex-wrap: wrap;
        margin-top: -30px;
        margin-left: -30px;
    }

    .port-list__item {
        margin-top: 30px;
        margin-left: 30px;
        flex-basis: calc(100% / 2 - 30px);
    }
}


// Для 1200+
@media screen and (min-width:1200px){
    .port-list__item {
        flex-basis: calc(100% / 3 - 30px);
    }
}

// .port-list {
//     display: flex;
//     flex-wrap: wrap;
//     margin-top: -30px;
//     margin-left: -30px;
// }


// .port-list__item {
//     margin-top: 30px;
//     margin-left: 30px;
//     flex-basis: calc(100% / 3 - 30px);

// }

// .port-list__link {
//     display: block;

//     transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//         box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
//             0px 4px 4px rgba(0, 0, 0, 0.06),
//             1px 4px 6px rgba(0, 0, 0, 0.16);
//     }
// }



// .port-list__wrapper {
//     position: relative;
//     overflow: hidden;

// }

// .port-list__overlay {
//     display: flex;
//     padding-left: 24px;
//     padding-right: 24px;
//     justify-content: center;
//     align-items: center;
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     transform: translateY(100%);
//     background-color: rgba(33, 150, 243, 0.9);
//     overflow: auto;
//     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     .port-list__link:hover &,
//     .port-list__link:focus & {
//         transform: translateY(0);
//     }

// }

// .port-list__overlay-text {
//     color: var(--page-color);
//     font-size: 18px;
//     line-height: 1.56;
//     letter-spacing: 0.03em;
// }


// .port-list__title {
//     padding: 20px 24px;
//     border: 1px solid #EEEEEE;
//     border-top: 0;
// }

// .port-list__head {
//     margin-bottom: 4px;

//     color: var(--grand-color);
//     font-size: 18px;
//     line-height: 2.0;
//     letter-spacing: 0.06em;

// }

// .port-list__disc {
//     font-size: 16px;
//     line-height: 1.87;
//     letter-spacing: 0.03em;
//     color: var(--indent-color);
// }