body {
    color: var(--grand-color);
    background-color: var(--page-color);
    font-family: var(--main-font);
    font-size: 14px;
    letter-spacing: 0.03em;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width:1200px) {
            padding-top: 94px;
            padding-bottom: 94px;
    }
}



.link {
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
}