:root {
    --page-color: #FFFFFF;
    --cont-alfa-color: rgba(255, 255, 255, 0.6);
    --logo-color: #000000;
    --logo-icon-color: #AFB1B8;
    --grand-color: #212121;
    --indent-color: #757575;
    --style-color: #2196F3;
    --button-hower-color: #188CE8;
    --section-color: #F5F4FA;
    --main-font: 'Roboto', sans-serif;
    --another-font: 'Raleway', sans-serif;
    }